@import '../../../theme/variables';

ion-item {
  &.has-error {
    --border-color: #{$vermelho-logo};
  }

  ion-label {
    &.required::after {
      content: ' *';
      color: #{$vermelho-logo};
    }
  }
}

.error-message {
  color: #{$vermelho-logo};
  font-size: 12px;
  padding: 4px 16px;
  margin-top: -8px;
}
