<app-main-header [showBackButton]="false">
</app-main-header>

<ion-content [fullscreen]="true" class="dashboard-content">
  <div class="dashboard-container">
    <div class="dashboard-header">
      <div class="dashboard-title-section">
        <h2 class="dashboard-title">Ocorrências despachadas</h2>
        <ion-badge class="active-badge">{{ totalAtivas }} Ativas</ion-badge>
      </div>
    </div>

    <div class="dashboard-cards">
      <app-ocorrencia-card
        *ngFor="let item of ocorrencias"
        [ocorrencia]="item"
        (onIniciar)="iniciarAtendimento($event)">
      </app-ocorrencia-card>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-nav-button label="Nova Ocorrência de Campo" link="/triagem" buttonColor="success"></app-nav-button>
  </ion-toolbar>
</ion-footer>