// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
$amarelo-logo: #fff212;
$azul-logo: #3e4095;
$vermelho-logo: #ed3237;
$cinza-cbmpe: #717878;