<app-main-header [showBackButton]="false"></app-main-header>

<ion-content class="conclusao-content" [fullscreen]="true">
  
  <div class="page-layout">
    
    <div class="custom-page-header">
      <button class="custom-back-btn" (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
        <span>Voltar</span>
      </button>
      <div class="title-container">
        <h2>Conclusão</h2>
      </div>
    </div>

    <div class="signature-section">
      
      <button class="btn-limpar" (click)="limpar()">
        Limpar
      </button>

      <div class="canvas-wrapper">
        <div class="canvas-placeholder" *ngIf="isCanvasEmpty">
          Assine aqui
        </div>
        <canvas #signatureCanvas
          (mousedown)="startDrawing($event)"
          (mousemove)="draw($event)"
          (mouseup)="stopDrawing()"
          (mouseleave)="stopDrawing()"
          (touchstart)="startDrawing($event)"
          (touchmove)="draw($event)"
          (touchend)="stopDrawing()">
        </canvas>
      </div>

    </div>

    <div class="footer-action">
      <button class="btn-black-block" (click)="finalizarESincronizar()">
        Finalizar e Sincronizar
      </button>
    </div>

  </div>
</ion-content>