<ion-content [fullscreen]="true" class="login-content">
  <ion-grid class="login-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height-row">
      
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4" class="login-col">
        
        <div class="login-brand">
          <img src="assets/logo-cbmpe.png" alt="CBMPE Logo" class="login-logo-img">
          <h1 class="login-title">CBMPE</h1>
          <p class="login-subtitle">Sistema de Ocorrências</p>
        </div>

        <div class="login-card">
          <form (ngSubmit)="onLogin()" class="login-form">
            
            <div class="form-group">
              <label class="custom-label">Matrícula Militar</label>
              <div class="input-box">
                <ion-input
                  type="text"
                  required
                  [(ngModel)]="matricula"
                  name="matricula"
                  placeholder="Digite sua matrícula">
                </ion-input>
              </div>
            </div>

            <div class="form-group">
              <label class="custom-label">Senha</label>
              <div class="input-box">
                <ion-input
                  type="password"
                  required
                  [(ngModel)]="senha"
                  name="senha"
                  placeholder="Digite sua Senha">
                </ion-input>
              </div>
            </div>

            <div class="form-group">
              <label class="custom-label">Unidade Operacional</label>
              <div class="input-box">
                <ion-select
                  [(ngModel)]="unidade"
                  name="unidade"
                  interface="popover"
                  placeholder="Selecione sua unidade">
                  <ion-select-option value="1-gbaph">1º GBAPH - Recife</ion-select-option>
                  <ion-select-option value="1-gbi">1º GBI - Av. Beira Rio</ion-select-option>
                  <ion-select-option value="2-gbi">2º GBI - Olinda</ion-select-option>
                  <ion-select-option value="7-gbi">7º GBI - Jaboatão</ion-select-option>
                </ion-select>
              </div>
            </div>

            <div class="login-actions">
              <ion-button expand="block" type="submit" class="enter-button">Entrar</ion-button>
              <ion-button expand="block" fill="outline" type="button" class="admin-button" (click)="onAdmin()">
                Painel Administrativo
              </ion-button>
            </div>

            <div *ngIf="message" class="login-message">{{ message }}</div>
          </form>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>