<ion-content [fullscreen]="true" class="login-content">
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-content>
        <div class="login-brand">
          <div class="login-logo">
            <span>CBMPE</span>
          </div>
          <h1>CBMPE</h1>
          <p>Sistema de Ocorrências</p>
        </div>

        <form (ngSubmit)="onLogin()" class="login-form">
          <ion-item class="login-item">
            <ion-label position="stacked">Matrícula Militar</ion-label>
            <ion-input
              type="text"
              required
              [(ngModel)]="matricula"
              name="matricula"
              placeholder="Digite sua matrícula">
            </ion-input>
          </ion-item>

          <ion-item class="login-item">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input
              type="password"
              required
              [(ngModel)]="senha"
              name="senha"
              placeholder="Digite sua senha">
            </ion-input>
          </ion-item>

          <ion-item class="login-item">
            <ion-label position="stacked">Unidade</ion-label>
            <ion-select
              [(ngModel)]="unidade"
              name="unidade"
              interface="popover"
              placeholder="Selecione sua unidade">
              <ion-select-option value="unidade-1">Unidade 1</ion-select-option>
              <ion-select-option value="unidade-2">Unidade 2</ion-select-option>
              <ion-select-option value="unidade-3">Unidade 3</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="login-actions">
            <ion-button expand="block" type="submit" class="enter-button">Entrar</ion-button>
            <ion-button expand="block" fill="outline" type="button" class="admin-button" (click)="onAdmin()">
              Painel Administrativo
            </ion-button>
          </div>

          <div *ngIf="message" class="login-message">{{ message }}</div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
